<p>sss</p>
{{ model }}
{{#each model as |comment|}}
  <table class="table">
    <tr>
      <th>用户</th>
      <td>{{ comment.email }}</td>
    </tr>
    <tr>
      <th>内容</th>
      <td>{{ comment.content }}</td>
    </tr>
  </table>
{{/each}}